.background {
    -fx-background-image: url("background.jpg");
}

.background2 {
    -fx-background-image: url("background2.jpg");
}

.background3 {
    -fx-background-image: url("background3.jpg");
}

.background4 {
    -fx-background-image: url("background4.jpg");
}